.NavUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavLi {
  float: left;
}

.NavLi a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavLi a:hover {
    background-color: var(--navhover);
    color: var(--secondary);
  }

.hide {
  display: none;
}

.wrapper {
  margin-top: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbarScrolled {
  background-color: var(--navbar);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .NavUl {
    flex-direction: column;
  }

  .NavLi {
    margin: 10px 0;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
}