/*
 * Dark mode theme 
 */
 :root[data-theme='dark'] {
	--primary-bright:	#ffffff;
	--primary:		#d9d9d9;
	--primary-dim:		#7d7d7d;
	--primary-dark:		#202020;
	--secondary: 		#ffed7f;
	--secondary-bright: 	rgb(255, 221, 0);
	--background: 		#060708;
	--navbar: 		#807741;
    --date:     #dac24d;
	--navhover:     #686868;

	
	color-scheme: dark;
} 

/*
 * Light mode theme 
 */
:root[data-theme='light'] {
	--primary-bright:	#000000;
	--primary: 		#060708;
	--primary-dim:		#121315;
	--primary-dark:		#efefef;
	--secondary: 		#BA6655;
	--secondary-bright:	#ef6144;
	--background: 		#ededed;
	--navbar: 		#d2b0aa;
    --date:     rgb(87, 87, 87);
	--navhover:     rgba(0, 0, 0, 0.1);

}